.mobiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mobile {
  height: 300px;
  padding: 20px 20px 0 20px;
  color: black;
  display: flex;
}

.mobile_desc {
  width: 75%;
  padding: 30px;
}

.cart_add {
  width: 120px;
  padding: 2px;
  background-color: #ffe714;
  box-shadow: 1px 1px 7px #eebb39 inset;
  border: none;
  outline: none;
  border-radius: 5px;
}
